:root{
    --primary-color: #47E5BC;
    --secondary-color: #81E4DA;
    --accent1-color: #AECFDF;
    --accent2-color: #9F9FAD;
    --heading-font: "Elite+Special";
    --text-font: "PT+Serif";
}

h1, h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

.hero h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(32, 178, 171, 0.377);
    padding: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

.hero article p {
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 5rem;
    font-weight: 400;
    background-color: #9fa4ad56;
    top: 1rem;
    float: none;
    
}

a {
    text-decoration: none;
}

.hero>img {
    display: block;
    width: 100%;
    
    
}

.hero {
    position: relative;
}
.hero article {
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
    
}
.hero article img {
    float: right;
    margin: 2rem;
    width: 14rem;
    top: 2rem;
    padding: 3rem;

}

body {
    font-family: var(--text-font);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;

}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    flex: 1 1 auto;

}

nav a {
    color: black;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: var(--heading-font);
}

nav a:hover {
       color: blueviolet;
       font-weight: 700;
       text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2rem;
    margin: 50px 0;
}

.history h2, 
.adventures h2 {
    grid-column: 1 / -1;
    justify-self: center;
    padding: 1rem;
}

.history img {
    width: 400px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 1 rem;
    margin: 50px 0;
    justify-items: center;
}

.adventures img {
    width: 200px;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3e3e3e;
    margin-top: 100px;
}

figure:nth-last-of-type(odd) {
    background-color: var(--accent1-color);
    color: black;
    align-self: center;

}

figure:nth-last-of-type(even) {
    background-color: var(--accent2-color);
    color: black;
    align-self: center;
}

figcaption {
    text-align: center;
    padding: 1em 0;

}
